<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <title>MealVoucherApp - Homepage</title>
    </head>

    <body align="CENTER">
        <h1>MealVoucherApp -- HOMEPAGE</h1>
        <div>
            <a href="http://127.0.0.1:8000/add_mealvouchers/">Vložení stravenek</a><br>
            <a href="http://127.0.0.1:8000/remove_mealvouchers/">Odstranění stravenek</a><br>
            <a href="http://127.0.0.1:8000/add_employees/">Vložení zaměstnanců</a><br>
            <a href="http://127.0.0.1:8000/distribute_mealvouchers/">Přidělení stravenek</a><br>
        </div>
    </body>
</html>