<!DOCTYPE html>
<html lang="cz">
    <head>
        <meta charset="UTF-8">
        <title>MPV PREP</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
            #new-user {
                margin-bottom: 4em;

            }
            #users input[type=text] {
                opacity: .4;
                pointer-events: none;
                disabled;
            }
        </style>
    </head>

    <body align="CENTER">
        <h1>MealVoucherApp</h1>
        <div>
            <h2>Rozcestník</h2>
            <a href="http://127.0.0.1:8000/add_mealvouchers/">Vložení stravenek</a><br>
            <a href="http://127.0.0.1:8000/remove_mealvouchers/">Odstranění stravenek</a><br>
            <a href="http://127.0.0.1:8000/add_employees/">Vložení zaměstnanců</a><br>
            <a href="http://127.0.0.1:8000/distribute_mealvouchers/">Přidělení stravenek</a><br>
        </div>
        <div id="new-user">
            <h2>Formulář pro vložení nového zaměstnance</h2>
            <form method="POST" class="Zamestnanec_narok">{% csrf_token %}
                {{ form_add_employee.as_table }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
        <div id="users">
            <h2>Formulář pro editaci nároků zaměstnanců na stravenky</h2>
            <form method="post">
                {% csrf_token %}
                {{ formset.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
            <div>
            <h2>Seznam pro odstraňování zaměstnanců</h2>
            {% for e in employees %}
            {{ e.prijmeni }} {{ e.jmeno }} {{ e.zavod }}
            <a href="{% url 'delete_employee' e.pk%}" class="btn btn-danger btn-xs" role="button" aria-pressed="true" >Smazat</a><br>
            {% endfor %}
        </div>
    </body>
</html>